@using BEXIS.Modules.ALM.UI.Model

@model  List<AlumniUserModel>


<table>
    @foreach (AlumniUserModel u in Model)
    {
        <tr>
            <td>
                @u.Name
            </td>
            <td>
                @u.User.UserName
            </td>
            <td>
                @u.User.Email
            </td>
            <td>
                @u.StartDate
            </td>
            <td>
                @u.EndDate
            </td>
        </tr>
    }
</table>

