@using BEXIS.Modules.ALM.UI.Model
@model List<AlumniUserModel>

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Areas/ALM/BEXIS.Modules.ALM.UI/Scripts/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/ALM/BEXIS.Modules.ALM.UI/Scripts/DataTables/Select-1.3.0/js/dataTables.select.min.js")"></script>
}



@section Information
{
}



@section LeftPane
{
    <div class="alumniContent">
        @*@Html.Partial("_alumniSearch", Model)*@
    </div>
}


<div>
    <div class="alumniContent">
        <table id="alumniTable" class="display" width="100%">
            <thead>
                <tr>
                    <th>
                        UserName
                    </th>

                    <th>
                        Name
                    </th>

                    <th>
                        IsAlumni<br />
                        <input type="checkbox" name="select_all" value="1" id="example-select-all">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.UserName</td>

                        <td>@item.Name</td>

                        <td>@item.IsAlumni</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        UserName
                    </th>

                    <th>
                        Name
                    </th>

                    <th>
                        IsAlumni
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


<script type="text/javascript">

     $(document).ready(function () {
         var table = $('#alumniTable').dataTable( {
      "columnDefs": [ {
            "targets": 2, //Targets would be the 0 based index of the column
             "data": 'IsAlumni',
          "render": function (data, type, full, meta) {
              if (data === "False") {
                  return '<input type="checkbox" name="id[]">';
              }
              else {
                  return '<input type="checkbox" name="id[]" checked>';
              }
             }
       } ]
 });


         $('#alumniTable').on('click', 'input[type="checkbox"]', function () {

         var t = $("#alumniTable").DataTable().row(this).data();
         var userName = $("#alumniTable").DataTable().cell(t, 0).data();

         if ($(this).is(':checked')) {
                    $.post('@Url.Action("ChangeStatusToAlumni", "Alumni")',
                        {
                            userName: userName
                        },
                        function () {
                            $("#alumniTable .t-refresh").trigger('click');
                        });
                } else {
                    $.post('@Url.Action("ChangeStatusToNonAlumni", "Alumni")',
                        {
                            userName: userName
                        },
                        function () {
                            $("#alumniTable .t-refresh").trigger('click');
                        });
                }
            });
        


    });

</script>


